/********************* 전체공통 **************************/
*{margin: 0; padding: 0;}
#wrap{margin: 0 auto; width: 1920px;}
ul li {list-style: none;}
ul li a{text-decoration: none; color: black;}
a{text-decoration: none; color: black;}
.clear{clear: both;}
.inner{width: 1200px; margin: 0 auto;}
.ONE-Mobile-Regular{font-family: ONE-Mobile-Regular;}
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1{font-size: 80px;}
h2{font-size: 50px;}
h3{font-size: 40px;}
h4{font-size: 30px;}
h5{font-size: 20px;}
p{font-size: 15px;}
/********************************** 헤더 *********************************/
header .inner div{
    float: left;
}
/****** 네비 ******/
nav{
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    
}
nav >ul >li{
    float: left;
    width: 25%;
    padding: 15px 0;
}
nav ul li:nth-child(3){
    position: relative;
    z-index: 99;
}

nav ul li:nth-child(3) ul li{
    float: left;
    width: 100%;
}
nav >ul >li:hover ul{
    display: block;
}
nav >ul >li:nth-child(3):hover{
    background-color: #4c6efe;
    border-radius: 5px 5px 0 0;
}
nav >ul .sub{
    position: absolute;
    top: 35px;
    background-color: #4c6efe;
    border-radius: 0 0 5px 5px;
    display: none;
}
.sub{
    padding: 10px 0;
}
.sub> li:hover{
    background-color: black;
}
.sub> li{
    padding: 10px 0;
}
.sub> li> a{
    color: white;
} 
/****************************** 배너 ***********************************/
.banner{
    height: 232px;
    background-image: url(../images/s1_banenr.png);
    background-repeat: no-repeat;
    text-align: center;color: white;
}
.banner div{
    position: relative;
}
.banner span{
    color: #118eee;
}
.banner div p{
    padding: 40px 0 5px 0;
}
.blue_box{
    position: absolute;
    top: 50%; left: 35%;
    margin-bottom: 10px;
}
.blue_box h2{
    line-height: 1.5em;
}
.banner div div{
    background-color: #118eee;
    width: 340px; height: 70px;
}
/****************************** 컨텐츠1_플랫폼 ***********************************/
.content1{
    height: 774px;
}
.top_box{
    height: 246px;
    background-color: blue;
    background-image: url(../images/s1_con1.png);
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    position: relative;
    bottom: -35px;
    
}
.top_box h4{
    padding-top: 85px;
    font-weight: lighter;
}
.top_box h3{
    font-weight: lighter;
}
.bttom_box{
    height: 400px;
    background-color: #8fccfa;
}
.b_box{
    width: 803px; height: 122px;
    margin-left:190px;
    padding-top: 100px;
}
.b_box div{
    width: 33.3%; height: 120px;
    float: left;
    text-align: center;
}
.bttom_box .inner h4{
    padding-top: 90px;
    text-align: center;
}
.content1 h5{
    text-align: center;
    margin-top: 45px;
    font-weight: lighter;
}
/****************************** 컨텐츠2_서비스설명 ******************/
.content2{
    height: 920px;
}
.content2 .inner{
    margin: 150px auto;
}
.content2 h4{
    text-align: center;
    color: #4a6ef8;
}
.content2 h4 span{
    font-size: 40px;
}
.con2_box1{
    width: 932px; height: 348px;
    margin-left: 150px;
}
.con2_box2{
    width: 466px; height: 174px;
    float: left;
    padding-top:110px;
}
.con2_box2 img{
    width: 33.3%;
}
.textbox{
    width: 60%;
    float: right;
    margin: 15px 15px 0 5px;
}
.textbox h5{
    color: #4a6ef8;
}
.textbox p{
    margin-top: 15px;
    color:#a6a6a8;
    line-height: 1.5em;
}
/****************** 컨텐츠3_검색상위노출 ****************************/
.content3{
    height: 778px;
    background-color: #e7ecff;
    text-align: center;
}
.content3 span{
    font-size: 40px;
    color: #4b6ff7;
    text-align: center;
    display: block;
    padding-top: 40px;
}
.search{
    width: 140px; height: 80px;
    object-fit: cover;
    margin-right: 20px;
}
.content3 .inner div:nth-child(1){
    text-align: center;
}
.content3 .inner div:nth-child(1) h4{
    text-align: center;
    display: inline-block;
    position: relative;
    top: -40px;
}
.con3_imgs{
    width: 974px; height: 433px;
    margin: 0 auto;
}
.con3_imgs img{
    width: 33.3%;
    float: left;
}
/****************************** 푸터 ******************************/
footer{
    width: 100%; height: 423px;
    text-align: center; color: #838383;
}
.f1 img{
    margin: 60px 0 60px 0;
    box-sizing: border-box;
}
.f1 ul{
    margin-left: 730px; box-sizing: border-box;
}
.f1 ul li{
    float: left; margin: 70px 0 30px 16px;
}
.f2{
    width: 100%; height: 129px; background-color: #f7f8f9;
}
.f2 p{
    line-height: 8.5em;
}
.topbtn{
    background-color: rgba(230, 227, 227, 0.795);
    border-radius: 30px;
    width: 50px; height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 3.2em;
    position: fixed;
    top: 70%; right: 5%;
    cursor: pointer;
}
