/********************* 전체공통 **************************/
*{margin: 0; padding: 0;}
#wrap{margin: 0 auto; width: 1920px;}
ul li {list-style: none;}
ul li a{text-decoration: none; color: black;}
a{text-decoration: none; color: black;}
.clear{clear: both;}
.inner{width: 1200px; margin: 0 auto;}
.ONE-Mobile-Regular{font-family: ONE-Mobile-Regular;}
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1{font-size: 80px;}
h2{font-size: 50px;}
h3{font-size: 40px;}
h4{font-size: 30px;}
h5{font-size: 20px;}
p{font-size: 15px;}
/********************************** 헤더 *********************************/
header .inner div{
    float: left;
}
/****** 네비 ******/
nav{
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    
}
nav >ul >li{
    float: left;
    width: 25%;
    padding: 15px 0;
}
nav ul li:nth-child(3){
    position: relative;
    z-index: 99;
}

nav ul li:nth-child(3) ul li{
    float: left;
    width: 100%;
}
nav >ul >li:hover ul{
    display: block;
}
nav >ul >li:nth-child(3):hover{
    background-color: #4c6efe;
    border-radius: 5px 5px 0 0;
}
nav >ul .sub{
    position: absolute;
    top: 35px;
    background-color: #4c6efe;
    border-radius: 0 0 5px 5px;
    display: none;
}
.sub{
    padding: 10px 0;
}
.sub> li:hover{
    background-color: black;
}
.sub> li{
    padding: 10px 0;
}
.sub> li> a{
    color: white;
} 
/****************************** 메인 ******************************/
.main{
    width: 100%; height: 550px;
    text-align: center;
}
.content2 .inner{
    color: #737373;
    }
.main .inner h4:nth-child(1){
    padding-top: 170px;
    word-spacing: 0.5em;
}
.main .inner h4:nth-child(2){
    color: #6c6b68;
    font-weight: lighter;
}

/****************************** 컨텐츠1_회사소개**************************/
.content1{
    width: 100%; height: 1338px; 
}
.line{
    width: 277px; height: 3px; 
    background-color: #ffc400;
}
.content1 .inner div img{
    margin-top: 120px;
}
.content1 .inner h5{
    margin-top: 40px;
    font-weight: lighter;
    line-height: 1.5em;
    color: #737373;
}
/****************************** 컨텐츠2_구몬이소개 ******************************/
.content2{
    width: 100%; height: 352px; background-color: #fff79b;
    margin-top: 235px;
}

.con2_left{
    width: 214px; height: 289px;
    float: left;  
}
.con2_left div img{
    padding-left: 30px;
    margin: 30px 0 20px 0;
}
.con2_left h5{
    text-align: center;
    line-height: 1.3em;
    font-weight: lighter;
    color: black;
} 
.con2_center{
    float: left;
    margin: 35px 0 0 200px;
    line-height: 1.9em;
}
.con2_center h5{
    font-weight: lighter;
}
.con2_right{
    margin-top: 35px;
    width: 89px;
    float: right;
}
/****************************** 푸터 ******************************/
footer{
    width: 100%; height: 423px;
    text-align: center; color: #838383;
}
.f1 img{
    margin: 60px 0 60px 0;
    box-sizing: border-box;
}
.f1 ul{
    margin-left: 730px; box-sizing: border-box;
}
.f1 ul li{
    float: left; margin: 70px 0 30px 16px;
}
.f2{
    width: 100%; height: 129px; background-color: #f7f8f9;
}
.f2 p{
    line-height: 8.5em;
}
.topbtn{
    background-color: rgba(230, 227, 227, 0.795);
    border-radius: 30px;
    width: 50px; height: 50px;
    text-align: center;
    line-height: 3.2em;
    position: fixed;
    top: 90%; right: 2%;
    cursor: pointer;
}